<body>
    <!-- hero -->
    <section class="hero mt-0" id="landing" >
        <div class="container">
            <div class="hero__text container--pall mt-2">
                <h3>About iReporter</h3>
                <p>
                iReporter enables any citizen to report any <br> form of corruption and even provide <br> evidence of the reports
                </p>
                <a href="#contact" class="button hero__cta">contact us</a>
            </div>
        </div>
    </section>
    <!-- end of hero -->

    <!-- feature -->
    <section class="feature" id="feature" >
        <div class="feature__content container container--pall">
            <div class="feature__intro">
                <h2>Publish your red flags: How to,</h2>
                <p>
                        Follow the simple process below:
                </p>
            </div>

            <div class="feature__grid">
                <div class="feature__item">
                    <div class="feature__icon">
                        <img src="assets/whistle.png" />
                    </div>
                    <div class="feature__title">step 1</div>
                    <div class="feature__description">
                        log into the app
                    </div>
                </div>

                <div class="feature__item">
                    <div class="feature__icon">
                        <img src="assets/whistle2.png" />
                    </div>
                <div class="feature__title">step 2</div>
                <div class="feature__description">
                    publish a report
                </div>
            </div>
            <div class="feature__item">
                <div class="feature__icon">
                    <img src="assets/whistle.png" />
                </div>
                <div class="feature__title">Step 3</div>
                <div class="feature__description">
                    Our administrators will research on and review the red flag
                </div>
            </div>
            <div class="feature__item">
                <div class="feature__icon">
                    <img src="assets/whistle2.png" />
                </div>
                <div class="feature__title">step 4</div>
                <div class="feature__description">
                    You can then monitor the intervention status listed either as: 
                    <ol>
                        <li>under investigation</li>
                        <li>rejected</li>
                        <li>resolved</li>
                    </ol>
                </div>
            </div>
        </div>
        </div>
    </section>
    <!-- end of feature -->

    <!-- article -->
    <section class="articles">
        <div class="article__content container container--pall">
        <h2>Latest Articles</h2>

        <div class="article__grid">
            <a href="#" class="article__item">
            <div
                class="article__image"
                style="background-image: url('/assets/anticorrupt.jpg')"
            ></div>
            <div class="article__text">
                <div class="article__author">By Kibe Adnan</div>
                <div class="article__title">
                    City kanjo scam                
                </div>
                <div class="article__description">
                Lorem ipsum dolor sit amet consectetur aque commodi animi saepe eligendi ratione quod volu................
                </div>
            </div>
            </a>

            <a href="#" class="article__item">
            <div
                class="article__image"
                style="background-image: url('/assets/anticorrupt.jpg')"
            ></div>
            <div class="article__text">
                <div class="article__author">By Ian Koech</div>
                <div class="article__title">
                    Wheel barrow is a lie
                </div>
                <div class="article__description">
                Lorem ipsum dolor sit, amet consectetur adi at esse, accusamus............................
                </div>
            </div>
            </a>

            <a href="#" class="article__item">
            <div
                class="article__image"
                style="background-image: url('/assets/anticorrupt.jpg')"
            ></div>
            <div class="article__text">
                <div class="article__author">By Lilian Mwaura</div>
                <div class="article__title">
                The 6000 promise is a big lie
                </div>
                <div class="article__description">
                Lorem ipsum dolor sit amet, consectetur adictus quod quisquam totam nam pariat....
                </div>
            </div>
            </a>

            <a href="#" class="article__item">
            <div
                class="article__image"
                style="background-image: url('/assets/anticorrupt.jpg')"
            ></div>
            <div class="article__text">
                <div class="article__author">By Adeline Makokha</div>
                <div class="article__title">
                The billion shilling scam exposed with evidence
                </div>
                <div class="article__description">
                Lorem ipsum dolor sit amet consectetur adiquia dignissimos unde, consequatur id, tempor...
                </div>
            </div>
            </a>
        </div>
        </div>
    </section>
    <!-- end of article -->


    <!-- contact form -->
    <section class="page-section" id="contact">
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-lg-8 col-xl-6 text-center">
                    <h2 class="mt-0">Write to us</h2>
                    <hr class="divider" />
                </div>
            </div>
            <div class="row gx-4 gx-lg-5 justify-content-center mb-5">
                <div class="col-lg-6">
                    <!-- * * * * * * * * * * * * * * *-->
                    <!-- * * SB Forms Contact Form * *-->
                    <!-- * * * * * * * * * * * * * * *-->
                    <!-- This form is pre-integrated with SB Forms.-->
                    <!-- To make this form functional, sign up at-->
                    <!-- https://startbootstrap.com/solution/contact-forms-->
                    <!-- to get an API token!-->
                    <form id="contactForm" data-sb-form-api-token="API_TOKEN">
                        <!-- Name input-->
                        <div class="form-floating mb-3">
                            <input class="form-control" id="name" type="text" placeholder="Enter your name..." data-sb-validations="required" />
                            <label for="name">your name</label>
                            <div class="invalid-feedback" data-sb-feedback="name:required">A name is required.</div>
                        </div>
                        <!-- Email address input-->
                        <div class="form-floating mb-3">
                            <input class="form-control" id="email" type="email" placeholder="name@example.com" data-sb-validations="required,email" />
                            <label for="email">email</label>
                            <div class="invalid-feedback" data-sb-feedback="email:required">An email is required.</div>
                            <div class="invalid-feedback" data-sb-feedback="email:email">Email is not valid.</div>
                        </div>
                        <!-- Phone number input-->
                        <div class="form-floating mb-3">
                            <input class="form-control" id="phone" type="tel" placeholder="start with country code" data-sb-validations="required" />
                            <label for="phone">phone number</label>
                            <div class="invalid-feedback" data-sb-feedback="phone:required">A phone number is required.</div>
                        </div>
                        <!-- Message input-->
                        <div class="form-floating mb-3">
                            <textarea class="form-control" id="message" type="text" placeholder="Enter your message here..." style="height: 10rem" data-sb-validations="required"></textarea>
                            <label for="message">your message</label>
                            <div class="invalid-feedback" data-sb-feedback="message:required">A message is required.</div>
                        </div>
                        <!-- Submit success message-->
                        <!---->
                        <!-- This is what your users will see when the form-->
                        <!-- has successfully submitted-->
                        <div class="d-none" id="submitSuccessMessage">
                            <div class="text-center mb-3">
                                <div class="fw-bolder">Form submission successful!</div>
                                To activate this form, sign up at
                                <br />
                                <a href="/signup"></a>
                            </div>
                        </div>
                        <!-- Submit error message-->
                        <!---->
                        <!-- This is what your users will see when there is-->
                        <!-- an error submitting the form-->
                        <div class="d-none" id="submitErrorMessage"><div class="text-center text-danger mb-3">Error sending message!</div></div>
                        <!-- Submit Button-->
                        <div class="d-grid"><button class="btn btn-primary btn-xl disabled" id="submitButton" type="submit">Submit</button></div>
                    </form>
                </div>
            </div>
            
        </div>
    </section>    
    
    <!-- end of form -->

    <!-- footer -->
    <footer class="footer">
        <div class="container">
        <a class="footer__logo" href="#">
            <i class="fa-solid fa-whistle"></i>
        </a>
        <ul class="social-links">
            <i class="fa-brands fa-facebook"></i>      <br>
            <i class="fa-brands fa-instagram"></i>      <br>  
            <i class="fa-brands fa-github"></i>     <br>
            <i class="fa-brands fa-linkedin-in"></i>    <br>
            <i class="fa-brands fa-twitter"></i>        <br>
        </ul>
        

        <div class="footer__links col1 hide-for-mobile">
            <a href="#">About Us</a>
            <a href="#">Contact</a>
            <a href="/interventions">Interventions</a>
        </div>

        <div class="footer__links col2 hide-for-mobile">
            <a href="/redflags">Red flags</a>
            <a href="/clients">Profiles</a>
            <a href="#">Privacy Policy</a>
        </div>

        <div class="footer__cta">
            <a href="/adminsignup" class="button">Sign up as admin</a>
        </div>

        <div class="footer__copyright">
            &copy; iReporter. All Rights Reserved.
        </div>
        </div>
        <div class="attribution">
        Developed by
        <a href="/" target="_blank"
            >Software engineers </a
        >Co. <a href="#">+254 115969973</a>
        </div>
    </footer>
    <!-- end of footer -->
    <!-- script -->
    <script>
        const btnHamburger = document.querySelector('#btnHamburger');
        const body = document.querySelector('body');
        const header = document.querySelector('.header');
        const overlay = document.querySelector('.overlay');
        const fadeElems = document.querySelectorAll('.has-fade');

        btnHamburger.addEventListener('click', function(){
        console.log('click hamburger');
        
        if(header.classList.contains('open')){ // Close Hamburger Menu
            body.classList.remove('noscroll');
            header.classList.remove('open');    
            fadeElems.forEach(function(element){
            element.classList.remove('fade-in');
            element.classList.add('fade-out');
            });
        
            }
        else { // Open Hamburger Menu
            body.classList.add('noscroll');
            header.classList.add('open');
            fadeElems.forEach(function(element){
            element.classList.remove('fade-out');
            element.classList.add('fade-in');
            });

            }  
        });
    </script>
</body>