<div class="container d-flex justify-content-center">
  <div class="card p-3 py-4" *ngFor="let user of users">
      <div class="text-center"> 
  <img src="https://i.imgur.com/stD0Q19.jpg" width="100" class="rounded-circle">
          <h3 class="mt-2"> {{user.username}} </h3>
    <span class="mt-1 clearfix"> {{user.first_name}} {{user.last_name}} </span>

    <hr class="line">
    
    <small class="mt-4"> {{user.email}} </small>
            <div class="social-buttons mt-5"> 
       <button class="neo-button"><i class="fa fa-facebook fa-1x"></i> </button> 
       <button class="neo-button"><i class="fa fa-linkedin fa-1x"></i></button> 
       <button class="neo-button"><i class="fa fa-google fa-1x"></i> </button> 
       <button class="neo-button"><i class="fa fa-youtube fa-1x"></i> </button>
       <button class="neo-button"><i class="fa fa-twitter fa-1x"></i> </button>
      </div>
      
     <div class="profile mt-5">
     
     <button class="profile_button px-5" routerLink="/signup">Logout</button>
     
  </div>
       
      </div>
  </div>
</div>







